.logo {
  height: 5vh;
}

.navbar-logo-wrapper{

}

.navbar-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-link{
  margin: 0 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.selected{
  color: #ff7a21 !important;
  font-weight: bold;
  /* border: 10px; */
}